body {
  font-family: "Montserrat", sans-serif;
  color: $color-dark;
}

.heading-tertiary {
  font-size: 1.7rem;
  font-weight: 600;
}

.heading-secondary {
  font-size: 3rem;
}

.heading-quintary {
  font-size: 1.9rem;
  font-weight: 400;
}
