$color-ligth-plus: #faf5f0;
$color-ligth: #f8ede3;
$color-semi-light: #bdd2b6;
$color-semi-dark: #a2b29f;
$color-dark: #798777;

$color-text-light: #eeee;
$color-text-semi-dark: #999;
$color-text-dark: #333;

$color-box-shadow: #414040;

$linear-gradient: linear-gradient(to top, $color-semi-dark, $color-ligth);
