.container {
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  grid-template-rows: 10rem minmax(80rem, auto);
  background-color: $color-ligth;
  grid-template-areas:
    "head head"
    "list recipe";

  border-radius: 2rem;
  max-width: 120rem;
  margin: 4vh auto;
  box-shadow: 1rem 1rem 5rem rgba($color-box-shadow, 0.5);
  position: relative;
  &__copyright {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    text-align: center;
    color: $color-text-dark;
    font-size: 1.5rem;
    margin-top: 5rem;

    .twitter-link {
      text-decoration: none;
      font-weight: 700;
      &:hover {
        opacity: 0.6;
      }
    }
  }

  @media (max-width: 1250px) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }

  @media (max-width: 1100px) {
    grid-template-columns: 1fr;

    grid-template-rows: 10rem minmax(20rem, auto) minmax(80rem, auto);
    grid-template-areas:
      "head "
      "list "
      "recipe";
  }

  @media (max-width: 750px) {
    grid-template-rows: 20rem minmax(20rem, auto) minmax(80rem, auto);
  }
}
